<html>
<head>
</head>
<div class="col-md-10">
<ol class="breadcrumb">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Paciente</li>
</ol>
</div>

<div class="col-lg-10">
<div class="portlet portlet-green">
    <div class="portlet-heading">
        <div class="portlet-title">
        <h4>Buscar Paciente</h4>
        </div>
        <div class="portlet-widgets">
        <a href="#create_user" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="panel-collapse in" id="create_user" style="height: auto;">
<div class="portlet-body" style="height:auto;">

<div ng-show="valorMensaje">
<p class="alert alert-warning">{{{mostrarMensaje}}}</p>
</div>
<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Cédula</label>
    <input type="text" title="cedula" class="form-control" ng-model="dataForm.cedula" placeholder="Cédula" maxlength="8">
</div>
<br>
<div class="col-md-4"> 
		<button class="btn btn-success" ng-click="busarPorCedula()"> Buscar </button>
	</div>
</div>

</div>
</div>
</div>
</div>

<br>
<br>
<div ng-show="mostrarPaciente">
<div class="col-md-10">
<ol class="breadcrumb">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Formulario de Paciente</li>
</ol>
</div>

<div class="col-lg-10">
<div class="portlet portlet-green">
    <div class="portlet-heading">
        <div class="portlet-title">
        <h4>Registrar Paciente</h4>
        </div>
        <div class="portlet-widgets">
        <a href="#create_user" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="panel-collapse in" id="create_user" style="height: auto;">
<div class="portlet-body" style="height:auto;">

<div ng-show="mensaje">
<p class="alert alert-{{{clase}}}"> {{{mensaje}}} </p>
</div>

<div class="col-md-12">
<label ng-show="mostrarMensajeExito" class="alert alert-success col-md-12">{{{mostrarMensajeExito}}} </label>
</div>
<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Cédula</label>
    <input type="text" name="cedula" class="form-control" ng-model="dataForm.cedula" placeholder="Cédula">
     <label ng-show="mostrarCedula" class="text-danger">{{{mostrarCedula}}} </label>
</div>

<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" ng-model="dataForm.nombre" placeholder="nombre">
    <label ng-show="mostrarNombre" class="text-danger">{{{mostrarNombre}}} </label>
</div>

<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Apellido</label>
    <input type="text" name="apelido" class="form-control" ng-model="dataForm.apellido" placeholder="Apellido">
     <label ng-show="mostrarApellido" class="text-danger">{{{mostrarApellido}}} </label>
</div>
 </div>

<div class="row">
<div class="form-group col-md-4">
    <label class="control-label col-md-12">Telefono Celular</label>
    <input type="text" name="telefono_celular" class="form-control" ng-model="dataForm.telefono_celular" placeholder="telefono_celular" mask='9999-999-99-99'>
     <label ng-show="mostrarTelefonoCelular" class="text-danger">{{{mostrarTelefonoCelular}}} </label>
</div>

<div class="col-md-4 form-group">
    <label class="col-md-12 control-label">Correo</label>
    <input type="text" name="correo" class="form-control" ng-model="dataForm.correo" placeholder="correo">
     <label ng-show="mostrarCorreo" class="text-danger">{{{mostrarCorreo}}} </label>
 </div>


<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Estado</label>
    <select name="grupo" class="form-control" ng-model="dataForm.estado_id">
        <option value="">Seleccione</option>
        <option ng-model="listaEstado.id" value="{{{listaEstado.id}}}" ng-repeat="listaEstado in listaEstado">{{{listaEstado.nombre}}}</option>
    </select>
     <label ng-show="mostrarEstado" class="text-danger">{{{mostrarEstado}}} </label>
</div>
</div>


<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Estatus</label>
    <select name="estatus" class="form-control" ng-model="dataForm.estatus">
        <option value="">Seleccione</option>
        <option value="A">Activo</option>
        <option value="E">Inactivo</option>
    </select>
     <label ng-show="mostrarEstatus" class="text-danger">{{{mostrarEstatus}}} </label>
</div>



<div class="form-group col-md-6 col-lg-12">
    <label class="col-md-12 control-label">Direccion</label>
    <textarea style="height: 100px;" type="text" name="direccion" class="form-control" ng-model="dataForm.direccion" placeholder="direccion">
    </textarea>
     <label ng-show="mostrarDireccion" class="text-danger">{{{mostrarDireccion}}} </label>
</div>

</div>




 <div class="row">
<div class="form-group col-md-6 text-left">
    <a href="#buscar_paciente">
         <span class="btn btn-danger"> volver </span>
    </a>
</div>

 <div class="form-group col-md-6 text-right">
 <button ng-click="guardarPaciente()" class="btn btn-success">Registrar</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<br>
<br>
{{{mostrarConsulta}}}
<div ng-show="mostrarConsulta">
<div class="col-lg-10">
<br>
<ol class="breadcrumb ng-scope col-md-12">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Listado de Usuario</li>
</ol>
<div class="row"> </div>
                        <div class="portlet portlet-green">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>Listado de Consultas</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <!--<div ng-controller="deleteUser">-->
                            <div  class="row" ng-show="exito">
                            <div class="col-md-12" >
                            <p class="col-md-12 alert alert-success"> {{{mostrarMensajeExito}}}</p>
                            </div>
                                {{{mostrarMensajeExito}}}
                            {{{mostrarMensajeExito.mostrarMensajeExito}}}
                            </div>
                            <!--</div>-->
                            
                           
                            <div class="portlet-body">
                          <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                           <thead ng-hide="(listado | filter:filtro).length == 0">
                                            <tr>

                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Cédula</th>
                                                <th>Telefono</th>
                                                <th>Correo</th>
                                                <th>Dirección</th>
                                            </tr>
                                        </thead>

                                    <tbody ng-repeat="listado in listado">
                                            <tr>
                                                <th>{{{listado.nombre}}}</th>
                                                <th>{{{listado.apellido}}}</th>
                                                <th>{{{listado.cedula}}}</th>
                                                <th>{{{listado.telefono}}}</th>
                                                <th>{{{listado.correo}}}</th>
                                                <th>{{{listado.direccion}}}</th>
                                                <th> <a href="#vistaPaciente/{{{listado.id}}}"><i class="fa fa-search" style="color:green"> </i>&nbsp;</a><a href="#consultaMedica/{{{listado.id}}}">
                                                <i class="fa fa-plus-square" 
                                                style="color:green"<i> </i>
                                                </a>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.portlet -->
                    </div>
</div>

</body>
</html>