

<div class="col-md-10 text-right">
<a href="#consultaMedicaCreate/{{{dataForm}}}">
<button class="btn btn-success">Consulta Medica</button>
</a>
</div>
<div class="col-lg-10">
<br>
<ol class="breadcrumb ng-scope col-md-12">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Listado de Consultas</li>
</ol>
<div class="row"> </div>
                        <div class="portlet portlet-green">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>Listado de Consultas</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <!--<div ng-controller="deleteUser">-->
                            <div  class="row" ng-show="exito">
                            <div class="col-md-12" >
                            <p class="col-md-12 alert alert-success"> 
                            {{{mostrarMensajeExito}}}</p>
                            </div>
                                {{{mostrarMensajeExito}}}
                            {{{mostrarMensajeExito.mostrarMensajeExito}}}
                            </div>
                            <!--</div>-->
                            
                           
                            <div class="portlet-body">
                            <div class="col-md-12 text-right">
                            </div>
                          <div class="row">
                                    <table datatable='ng' class="row-border hover" dt-options="dtOptions_c">
                                           <thead>
                                            <tr>
                                                <td>Observacion</td>
                                                <td>Paciente</td>
                                                <td>Enfermedad</td>
                                                <td>Medico</td>
                                                <td>Fecha</td>
                                            </tr>
                                        </thead>
                                    <tbody>
                                            <tr ng-repeat="consultaMedica in consultaMedica.ajax">
                                                <td>{{{consultaMedica.observacion}}}</td>
                                                <td>{{{consultaMedica.paciente}}}</td>
                                                <td>{{{consultaMedica.enfermedad}}}</td>
                                                <td>{{{consultaMedica.medico}}}</td>
                                                <td>{{{consultaMedica.fecha}}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.portlet -->
                    </div>

