
<html>
<head>
</head>
<div class="col-md-10">
<ol class="breadcrumb">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Formulario de Consulta Medica</li>
</ol>
</div>

<div class="col-lg-10">
<div class="portlet portlet-green">
    <div class="portlet-heading">
        <div class="portlet-title">
        <h4>Registrar Consulta Medica</h4>
        </div>
        <div class="portlet-widgets">
        <a href="#create_user" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="panel-collapse in" id="create_user" style="height: auto;">
<div class="portlet-body" style="height:auto;">

<div class="col-md-12">
<label ng-show="mensaje" class="alert alert-{{{clase}}} col-md-12">{{{mensaje}}} </label>
</div>

<div class="hide">
    <label class="col-md-12 control-label">id</label>
    <input type="text" name="direccion" class="form-control" ng-model="dataForm.id">
</div>
<div class="row">
<div class="form-group col-md-12 col-lg-12">
    <label class="col-md-12 control-label">Paciente</label>
    <input type="text" name="direccion" class="form-control" ng-model="nombreApellido">
</div>
</div>

<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Medico</label>
    <select name="grupo" class="form-control" ng-model="dataForm.medico">
        <option value="">Seleccione</option>
        <option value="{{{listaMedico.id}}}"  ng-repeat="listaMedico in listaMedico">{{{listaMedico.nombre}}}</option>
    </select>
     <label ng-show="mostrarMedico" class="text-danger">{{{mostrarMedico}}} </label>
</div>



<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Enfermedad</label>
    <select name="grupo_id" class="form-control" ng-model="dataForm.enfermedad">
        <option value="">Seleccione</option>
        <option value="{{{listaEnfermedad.id}}}" ng-repeat="listaEnfermedad in listaEnfermedad">{{{listaEnfermedad.nombre}}}</option>
    </select>
     <label ng-show="mostrarEnfermedad" class="text-danger">{{{mostrarEnfermedad}}} </label>
</div>


 </div>


<div class="row">
<div class="form-group col-md-12 col-lg-12">
    <label class="col-md-12 control-label">Observacion</label>
    <textarea style="height: 100px;" type="text" name="direccion" class="form-control" ng-model="dataForm.observacion" placeholder="Observacion">
    </textarea>
     <label ng-show="mostrarObservacion" class="text-danger">{{{mostrarObservacion}}} </label>
</div>
</div>



 <div class="row">
<div class="form-group col-md-6 text-left">
    <a href="#consultaMedica/{{{dataForm.id}}}">
         <span class="btn btn-danger"> volver </span>
    </a>
</div>

 <div class="form-group col-md-6 text-right">
 <button ng-click="guardarConsultaMedica()" class="btn btn-success">Registrar</button>
</div>
</div>
</div>
</div>
</div>
</div>
</html>
