
<html>
<head>
</head>
<div class="col-md-10">
<ol class="breadcrumb">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Formulario de Medico</li>
</ol>
</div>

<div class="col-lg-10">
<div class="portlet portlet-green">
    <div class="portlet-heading">
        <div class="portlet-title">
        <h4>Registrar Medico</h4>
        </div>
        <div class="portlet-widgets">
        <a href="#create_user" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="panel-collapse in" id="create_user" style="height: auto;">
<div class="portlet-body" style="height:auto;">

<div ng-controller="GuardarMedicoController">

<div class="col-md-12">
<label ng-show="mostrarMensajeExito" class="alert alert-{{{clase}}} col-md-12">{{{mostrarMensajeExito}}} </label>
</div>
<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Cédula</label>
    <input type="text" name="cedula" class="form-control" ng-model="dataForm.cedula" placeholder="Cédula">
     <label ng-show="mostrarCedula" class="text-danger">{{{mostrarCedula}}} </label>
</div>

<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" ng-model="dataForm.nombre" placeholder="nombre">
    <label ng-show="mostrarNombre" class="text-danger">{{{mostrarNombre}}} </label>
</div>

<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Apellido</label>
    <input type="text" name="apelido" class="form-control" ng-model="dataForm.apellido" placeholder="Apellido">
     <label ng-show="mostrarApellido" class="text-danger">{{{mostrarApellido}}} </label>
</div>
 </div>

<div class="row">
<div class="col-md-4">
    <label class="col-md-12 control-label">Telefono</label>
    <input type="text" name="telefono_local" class="form-control" ng-model="dataForm.telefono" placeholder="telefono local" mask='9999-999-99-99'>
     <label ng-show="mostrarTelefono" class="text-danger">{{{mostrarTelefono}}} </label>
</div>


<div class="col-md-4 form-group">
    <label class="col-md-12 control-label">Correo</label>
    <input type="text" name="correo" class="form-control" ng-model="dataForm.correo" placeholder="correo">
     <label ng-show="mostrarCorreo" class="text-danger">{{{mostrarCorreo}}} </label>
 </div>

 


<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Estado</label>
    <select name="grupo" class="form-control" ng-model="dataForm.estado_id">
        <option value="">Seleccione</option>
        <option ng-model="listaEstado.id" value="{{{listaEstado.id}}}" ng-repeat="listaEstado in listaEstado">{{{listaEstado.nombre}}}</option>
    </select>
     <label ng-show="mostrarEstado" class="text-danger">{{{mostrarEstado}}} </label>
</div>
</div>

<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Estatus</label>
    <select name="estatus" class="form-control" ng-model="dataForm.estatus">
        <option value="">Seleccione</option>
        <option value="A">Activo</option>
        <option value="E">Inactivo</option>    
        </select>
     <label ng-show="mostrarEstatus" class="text-danger">{{{mostrarEstatus}}} </label>
</div>
</div>



<div class="row">
<div class="form-group col-md-12 col-lg-12">
    <label class="col-md-12 control-label">Direccion</label>
    <textarea style="height: 100px;" type="text" name="direccion" class="form-control" ng-model="dataForm.direccion" placeholder="direccion">
    </textarea>
     <label ng-show="mostrarDireccion" class="text-danger">{{{mostrarDireccion}}} </label>
</div>
</div>



 <div class="row">
<div class="form-group col-md-6 text-left">
    <a href="#listado_medico">
         <span class="btn btn-danger"> volver </span>
    </a>
</div>

 <div class="form-group col-md-6 text-right">
 <button ng-click="guardarMedico()" class="btn btn-success">Registrar</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</html>