<!DOCTYPE html>
<html>
<head>
<style type="text/css">
</style>
	<title>Eliminar Utencilio</title>
</head>

<body>
<div>
<div ng-show="mostrarMensajeExito">
<p class="alert alert-success text-center">
{{{mostrarMensajeExito}}}
</p>
</div>
<div class="row modal-header col-md-12">
<h4 class="modal-title text-center"> Esta seguro que desea eliminar el utencilio </h4>
</div>
<div class="row modal-footer">
<div class="col-md-6 text-left">
<button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
</div>
<div class="col-md-6">
<button class="btn btn-primary" ng-click="ok()">Eliminar</button>
</div>
</div>
</div>
</body>
</html>