
<html>
<head>
</head>
<div class="col-md-10">
<ol class="breadcrumb">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Formulario de Estado</li>
</ol>
</div>

<div class="col-lg-10">
<div class="portlet portlet-green">
    <div class="portlet-heading">
        <div class="portlet-title">
        <h4>Editar Estado</h4>
        </div>
        <div class="portlet-widgets">
        <a href="#edita_estado/{{{dataForm.id}}}" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="panel-collapse in" id="edita_estado{{{dataForm.id}}}" style="height: auto;">
<div class="portlet-body" style="height:auto;">



<div class="col-md-12">
<label ng-show="mostrarMensajeExito" class="alert alert-success col-md-12">{{{mostrarMensajeExito}}} </label>
</div>
<div class="row">

<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" ng-model="dataForm.nombre" placeholder="nombre">
    <label ng-show="mostrarNombre" class="text-danger">{{{mostrarNombre}}} </label>
</div>



<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Estatus</label>
    <select name="estatus"  class="form-control" ng-model="dataForm.estatus">
        <option value="">Seleccione</option>
        <option value="A">Activo</option>
        <option value="E">Inactivo</option>
    </select>
     <label ng-show="mostrarEstatus" class="text-danger">{{{mostrarEstatus}}} </label>
</div>

 </div>

 <div class="row">
<div class="form-group col-md-6 text-left">
    <a href="#listado_estado">
         <span class="btn btn-danger"> volver </span>
    </a>
</div>

 <div class="form-group col-md-6 text-right">
 <button ng-click="editarEstado()" class="btn btn-success">Editar</button>
</div>
</div>
</div>
</div>
</div>
</div>
</html>
