
<div class="col-lg-10">
<br>
<ol class="breadcrumb ng-scope col-md-12">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Listado de Estadisticas</li>
</ol>
<div class="row"> </div>
                        <div class="portlet portlet-green">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>Listado de Estadisticas</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <!--<div ng-controller="deleteUser">-->
                            <div  class="row" ng-show="exito">
                            <div class="col-md-12" >
                            <p class="col-md-12 alert alert-success"> 
                            {{{mostrarMensajeExito}}}</p>
                            </div>
                                {{{mostrarMensajeExito}}}
                            {{{mostrarMensajeExito.mostrarMensajeExito}}}
                            </div>
                            <!--</div>-->
                            
                           
                            <div class="portlet-body">
                            <div class="col-md-12 text-right">
                            </div>
                          <div class="row">
                                    <table datatable='ng' class="row-border hover" dt-options="dtOptions_c">
                                           <thead class="hide">
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                </tr>
                                                <tr>
                                                <td></td>
                                                <td></td>
                                                </tr>
                                                <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                             <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                    <tbody ng-repeat="estadisticasNumericas in estadisticasNumericas.ajax">
                                                 <tr>
                                            <td>MIRANDA </td> 
                                             <td>{{{estadisticasNumericas.miranda}}}</td>
                                              </tr>
                                                <tr>
                                                <td>TRUJILLO</td>
                                                <td>{{{estadisticasNumericas.trujillo}}}</td>
                                                </tr>
                                                <tr>
                                                <td> FALCON </td>
                                                <td>{{{estadisticasNumericas.falcon}}}</td>
                                                  </tr>
                                                   <tr>
                                                <td> DISTRITO CAPITAL </td>
                                                <td>{{{estadisticasNumericas.distrito_capital}}}</td>
                                                  </tr>
                                                  <tr>
                                                <td> AMAZONAS </td>
                                                <td>{{{estadisticasNumericas.amazonas}}}</td>
                                                  </tr>
                                                   <tr>
                                                <td> APURE </td>
                                                <td>{{{estadisticasNumericas.apure}}}</td>
                                                  </tr>

                                                  <tr>
                                                <td> ARAGUA </td>
                                                <td>{{{estadisticasNumericas.aragua}}}</td>
                                                  </tr>

                                                  <tr>
                                                <td> BARINAS </td>
                                                <td>{{{estadisticasNumericas.barinas}}}</td>
                                                  </tr>

                                                  <tr>
                                                <td> BOLIVAR </td>
                                                <td>{{{estadisticasNumericas.bolivar}}}</td>
                                                  </tr>

                                                  <tr>
                                                <td> CARABOBO </td>
                                                <td>{{{estadisticasNumericas.carabobo}}}</td>
                                                  </tr>
                                                    <tr>
                                                <td> COJEDES </td>
                                                <td>{{{estadisticasNumericas.cojedes}}}</td>
                                                  </tr>
                                                    <tr>
                                                <td> DELTA AMACURO </td>
                                                <td>{{{estadisticasNumericas.delta_amacuro}}}</td>
                                                  </tr>
                                                    <tr>
                                                <td> GUARICO </td>
                                                <td>{{{estadisticasNumericas.guarico}}}</td>
                                                  </tr>
                                                    <tr>
                                                <td> LARA </td>
                                                <td>{{{estadisticasNumericas.lara}}}</td>
                                                  </tr>

                                                   <tr>
                                                <td> MERIDA </td>
                                                <td>{{{estadisticasNumericas.merida}}}</td>
                                                  </tr>
                                                   <tr>
                                                <td> NUEVA ESPARTA </td>
                                                <td>{{{estadisticasNumericas.nueva_esparta}}}</td>
                                                  </tr>
                                                   <tr>
                                                <td> PORTUGUESA </td>
                                                <td>{{{estadisticasNumericas.portuguesa}}}</td>
                                                  </tr>

                                                    <tr>
                                                <td> SUCRE </td>
                                                <td>{{{estadisticasNumericas.sucre}}}</td>
                                                  </tr>

                                                    <tr>
                                                <td> TACHIRA </td>
                                                <td>{{{estadisticasNumericas.tachira}}}</td>
                                                  </tr>
                                                    <tr>
                                                <td> YARACUY </td>
                                                <td>{{{estadisticasNumericas.yaracuy}}}</td>
                                                  </tr>

                                                   <tr>
                                                <td> ZULIA </td>
                                                <td>{{{estadisticasNumericas.zulia}}}</td>
                                                  </tr>
                                                   <tr>
                                                <td> VARGAS </td>
                                                <td>{{{estadisticasNumericas.vargas}}}</td>
                                                  </tr>
                                                   <tr>
                                                <td> DEPENDENCIAS FEDERALES </td>
                                                <td>{{{estadisticasNumericas.dependencias_federales}}}</td>
                                                  </tr>

                                              
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.portlet -->
                    </div>

