<div>
<select ng-model="tipo">
<option value=""> Tipo de Reporte </option>
<option value="barra">Barra</option>
<option value="torta">Torta</option>
</select>
</div>
<fusioncharts 
    width="1000" 
    height="400"
    type="{{{tipoReporte}}}"
    datasource="{{{myDataSource}}}"
></fusioncharts>
