
<div class="col-md-10 text-right">
<a href="#create_enfermedad">
<button class="btn btn-success">Registrar Enfermedad</button>
</a>
</div>
<div class="col-lg-10">
<br>
<ol class="breadcrumb ng-scope col-md-12">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Listado de Enfermedades</li>
</ol>
<div class="row"> </div>
                        <div class="portlet portlet-green">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>Listado de Enfermedades</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <!--<div ng-controller="deleteUser">-->
                            <div  class="row" ng-show="exito">
                            <div class="col-md-12" >
                            <p class="col-md-12 alert alert-success"> {{{mostrarMensajeExito}}}</p>
                            </div>
                                {{{mostrarMensajeExito}}}
                            {{{mostrarMensajeExito.mostrarMensajeExito}}}
                            </div>
                            <!--</div>-->
                            <div class="portlet-body">
                          <div class="row">
                                    <table datatable='ng' class="row-border hover" dt-options="dtOptions">
                                           <thead>
                                            <tr>

                                                <td>Nombre</td>
                                                <td>Estatus</td>
                                                <td>Accion</td>
                                            </tr>
                                        </thead>


                                    <tbody>
                                            <tr ng-repeat="listado in listado.ajax">
                                            
                                                <td>{{{listado.nombre}}}</td>
                                                <td>
                                                <div ng-if="listado.estatus==='A'">
                                                Activo
                                                </div>
                                                <div ng-if="listado.estatus==='E'">
                                                Inactivo
                                                </div>
                                                 </td>
                                                 <td>
                                                    <div ng-if="listado.estatus=='A'">
                                                        <a href="#view_enfermedad/{{{listado.id}}}">
                                                            <i class="fa fa-search" style="color:green"> </i>
                                                        </a>
                                                        <a href="#edita_enfermedad/{{{listado.id}}}">
                                                            <i class="fa fa-pencil" style="color:green"> </i>
                                                        </a>
                                                        <a href="" ng-click='showConfirm(listado.id,"A")'>
                                                            <i class="fa fa-trash-o" style="color:green"> </i>
                                                        </a>
                                                        
                                                    </div>
                                                    <div ng-if="listado.estatus=='E'">
                                                        <a href="#view_user/{{{listado.id}}}"><i class="fa fa-search" style="color:green"> </i>
                                                        </a>
                                                          <a href="" ng-click='showConfirm(listado.id,"R")'>
                                                            <i class="fa fa-check-square-o" style="color:green"> </i>
                                                        </a>

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                        <!-- /.portlet -->
                    </div>
    </div>

