<!DOCTYPE html>
<html>
<head>
	<title>Activar Medicamento</title>
</head>

<body ng-controller="deleteMedicamento">
<div ng-show="mostrarMensajeExito">
<p class="alert alert-success text-center">
{{{mostrarMensajeExito}}}
</p>
</div>
<div class="row modal-header">
<div class="col-md-12">
<h4 class="modal-title text-center"> Esta Seguro que desea activar el Medicamento </h4>
</div>
</div>
<div class="row modal-footer">
<div class="col-md-6 text-left">
<button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
</div>
<div class="col-md-6">
<button class="btn btn-primary" ng-click="ok()">Activar</button>
</div>
</div>
</div>
</body>
</html>