
<html>
<head>
</head>
<div class="col-md-10">
<ol class="breadcrumb">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">View User</li>
</ol>
</div>

<div class="col-lg-10">
<div class="portlet portlet-green">
    <div class="portlet-heading">
        <div class="portlet-title">
        <h4>Vista Usuario</h4>
        </div>
        <div class="portlet-widgets">
        <a href="#edita_user/{{{dataForm.id}}}" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="panel-collapse in" id="edita_user{{{dataForm.id}}}" style="height: auto;">
<div class="portlet-body" style="height:auto;">



<div class="col-md-12">
<label ng-show="mostrarMensajeExito" class="alert alert-success col-md-12">{{{mostrarMensajeExito}}} </label>
</div>
<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Cédula</label>
    <input type="text" readonly="readonly" name="cedula" class="form-control" ng-model="dataForm.cedula" placeholder="Cédula">
     <label ng-show="mostrarCedula" class="text-danger">{{{mostrarCedula}}} </label>
</div>


<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Nombre</label>
    <input type="text" readonly="readonly" name="nombre" class="form-control" ng-model="dataForm.nombre" placeholder="nombre">
    <label ng-show="mostrarNombre" class="text-danger">{{{mostrarNombre}}} </label>
</div>

<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Apellido</label>
    <input type="text" readonly="readonly" name="apelido" class="form-control" ng-model="dataForm.apellido" placeholder="Apellido">
     <label ng-show="mostrarApellido" class="text-danger">{{{mostrarApellido}}} </label>
</div>
 </div>

<div class="row">
<div class="col-md-4">
    <label class="col-md-12 control-label">Telefono Fijo</label>
    <input type="text" readonly="readonly" name="telefono_local" class="form-control" ng-model="dataForm.telefono_local" placeholder="telefono local" mask='9999-999-99-99'>
     <label ng-show="mostrarTelefonoFijo" class="text-danger">{{{mostrarTelefonoFijo}}} </label>
</div>

<div class="form-group col-md-4">
    <label class="control-label col-md-12">Telefono Celular</label>
    <input type="text" readonly="readonly" name="telefono_celular" class="form-control" ng-model="dataForm.telefono_celular" placeholder="telefono_celular" mask='9999-999-99-99'>
     <label ng-show="mostrarTelefonoCelular" class="text-danger">{{{mostrarTelefonoCelular}}} </label>
</div>

<div class="col-md-4 form-group">
    <label class="col-md-12 control-label">Correo</label>
    <input type="text" readonly="readonly" name="correo" class="form-control" ng-model="dataForm.correo" placeholder="correo">
     <label ng-show="mostrarCorreo" class="text-danger">{{{mostrarCorreo}}} </label>
 </div>

 </div>
<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Estado</label>
    <select name="grupo" readonly="readonly" class="form-control" ng-model="dataForm.estado_id">

        <option value="">Seleccione</option>
        <option selected="{{{dataForm.estado_id}}}" ng-model="listaEstado.id" value="{{{listaEstado.id}}}" ng-repeat="listaEstado in listaEstado">{{{listaEstado.nombre}}}</option>
    </select>
     <label ng-show="mostrarEstado" class="text-danger">{{{mostrarEstado}}} </label>
</div>



<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Grupo de Usuario</label>
    <select name="grupo_id" readonly="readonly" class="form-control" ng-model="dataForm.grupo_id">
        <option value="">Seleccione</option>
        <option selected="{{{dataForm.grupo_id}}}" value="{{{listaGrupo.id}}}" ng-model="listaGrupo.id" ng-repeat="listaGrupo in listaGrupo">{{{listaGrupo.nombre}}}</option>
    </select>
     <label ng-show="mostrarGrupo" class="text-danger">{{{mostrarGrupo}}} </label>
</div>


<div class="col-md-4 form-group">
    <label class="col-md-12 control-label">Usuario</label>
    <input type="text" readonly="readonly" name="usuario" class="form-control" ng-model="dataForm.usuario" placeholder="Usuario">
     <label ng-show="mostrarUsuario" class="text-danger">{{{mostrarUsuario}}} </label>
</div>

 </div>
<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Clave</label>
    <input type="password" readonly="readonly" name="clave" class="form-control" ng-model="dataForm.password" placeholder="Clave">
     <label ng-show="mostrarClave" class="text-danger">{{{mostrarClave}}} </label>
</div>

<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Repetir Clave</label>
    <input type="password" readonly="readonly" name="repetir_clave" class="form-control" ng-model="dataForm.repetir_clave" placeholder="Rpetir Clave">
     <label ng-show="mostrarRepetirClave" class="text-danger">{{{mostrarRepetirClave}}} </label>
</div>

<div class="form-group col-md-4 hide">
    <label class="col-md-12 control-label">Repetir Clave</label>
    <input type="text" name="repetir_clave" class="form-control" ng-model="dataForm.id" placeholder="Rpetir Clave">
     <label ng-show="mostrarRepetirClave" class="text-danger">{{{mostrarRepetirClave}}} </label>
</div>


<div class="form-group col-md-4">
    <label class="col-md-12  control-label">Estatus</label>
    <select name="estatus" readonly="readonly" class="form-control" ng-model="dataForm.estatus">
        <option value="">Seleccione</option>
        <option value="A">Activo</option>
        <option value="E">Inactivo</option>
    </select>
     <label ng-show="mostrarEstatus" class="text-danger">{{{mostrarEstatus}}} </label>
</div>

 </div>


<div class="row">
<div class="form-group col-md-12 col-lg-12">
    <label class="col-md-12 control-label">Direccion</label>
    <textarea style="height: 100px;" readonly="readonly" type="text" name="direccion" class="form-control" ng-model="dataForm.direccion" placeholder="direccion">
    </textarea>
     <label ng-show="mostrarDireccion" class="text-danger">{{{mostrarDireccion}}} </label>
</div>
</div>



 <div class="row">
<div class="form-group col-md-6 text-left">
    <a href="#listado_user">
         <span class="btn btn-danger"> volver </span>
    </a>
</div>
</div>
</div>
</div>
</div>
</div>
</html>
