<html>
<head>
</head>
<body>
<div class="col-md-10">
<ol class="breadcrumb">
    <li> <i class="fa fa-dashboard"></i>  <a href="#">Inicio</a>
    </li>
    <li class="active">Formulario de Paciente</li>
</ol>
</div>

<div class="col-lg-10" ng-controller="consultaPacientes">
<div class="portlet portlet-green">
    <div class="portlet-heading">
        <div class="portlet-title">
        <h4>Registrar Paciente</h4>
        </div>
        <div class="portlet-widgets">
        <a href="#create_user" data-parent="#accordion" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="panel-collapse in" id="create_user" style="height: auto;">
<div class="portlet-body" style="height:auto;">

<div ng-show="mensaje">
<p class="alert alert-{{{clase}}}"> {{{mensaje}}} </p>
</div>

<div class="col-md-12">
<label ng-show="mostrarMensajeExito" class="alert alert-success col-md-12">{{{mostrarMensajeExito}}} </label>
</div>
<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Cédula</label>
    <input type="text" readonly="readonly" name="cedula" class="form-control" ng-model="dataForm.cedula" placeholder="Cédula">
</div>

<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Nombre</label>
    <input type="text" readonly="readonly" name="nombre" class="form-control" ng-model="dataForm.nombre" placeholder="nombre">
</div>

<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Apellido</label>
    <input type="text" readonly="readonly" name="apelido" class="form-control" ng-model="dataForm.apellido" placeholder="Apellido">
</div>
 </div>

<div class="row">
<div class="form-group col-md-4">
    <label class="control-label col-md-12">Telefono Celular</label>
    <input type="text" readonly="readonly" name="telefono_celular" class="form-control" ng-model="dataForm.telefono" placeholder="telefono" mask='9999-999-99-99'>
</div>

<div class="col-md-4 form-group">
    <label class="col-md-12 control-label">Correo</label>
    <input type="text" readonly="readonly" name="correo" class="form-control" ng-model="dataForm.correo" placeholder="correo">
 </div>


<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Estado</label>
    <select name="grupo" readonly="readonly" class="form-control" ng-model="estado.nombre">
        <option ng-model="estado.nombre" value="{{{estado.nombre}}}" selected="{{{estado.nombre}}}">{{{estado.nombre}}}</option>
    </select>
</div>
</div>


<div class="row">
<div class="form-group col-md-4">
    <label class="col-md-12 control-label">Estatus</label>
    <select name="estatus" readonly="readonly" class="form-control"><option readonly="readonly" selected="dataForm.estatus">{{{dataForm.estatus}}}
    </option>
    </select>
</div>



<div class="form-group col-md-6 col-lg-12">
    <label class="col-md-12 control-label">Direccion</label>
    <textarea readonly="readonly" style="height: 100px;" type="text" name="direccion" class="form-control" ng-model="dataForm.direccion" placeholder="direccion">
    </textarea>
</div>

</div>



 <div class="row">
<div class="form-group col-md-6 text-left">
    <a ng-click="busarPorCedula()" href="#buscar_paciente">
         <span class="btn btn-danger"> volver </span>
    </a>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>